@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    }

html,body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(245, 244, 244);
    }

.highlight-box {
    background-color: #2A7FFF;
    color: #fff; 
    padding: 15px; 
    text-align: center; 

    }

.highlight-box h1 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    }

.wrapper{
    margin: 0 auto;
    width:100%;

    }

.container{
    display: flex;
    padding: 5px;
    width:100%;
    margin: 0 auto;
    
    }

.sidenav {
    width: 10%;
    height:430px;
    background-color: rgb(0, 145, 255);
    margin:30px;
    overflow: hidden;
    border-radius: 5px;
    }

.sidenav a, li {
    text-decoration: none;
    color: #fff;
    line-height: 2.5;
    padding-left: 7px;
    padding-top: 7px;
    list-style-type: none;
    opacity: 0.15s;
    cursor: pointer;
    }

    .sidenav a:hover{
        color: #2c3e50;
        opacity: 0.8;
        transition: .5s;
    
    }
    
    .sidenav a:active {
        background: #cee2ff;
        width: 30px;
        height: 15px;
        opacity: 0.5;
        transition: .5s;
        }

.mainnav{
    margin: 20px;
    width: 70%;
    justify-content: space-between;
    margin-top:35px;

    }

/* .box-group{
    display: flex;
    justify-content: space-between;
    } */

    .box-container {
        display: flex;
        flex-wrap: wrap;
    }

.info-box {
    height:200px;
    width:calc(25% - 20px);
    margin-right: 20px; 
    margin-bottom: 20px;
    background-color: #cee2ff;
    border: none;
    border-radius: 8px;
    justify-content: left;
    }


.info-box p {
    padding: 7px;
    }

.comp {
    margin-top: 5px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 17px;
    margin-top: 7px;
    }

.edit {
    float: right;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    background-color: #fff;
    padding: 3px 3px 3px 3px;
    height: 26px;
    width: 30px;
    border-radius: 5px;
    margin-right: 3px;
    cursor: pointer;
    color: black;
}

.num {
    font-size: 13px;
    margin-top: 0;
    margin-left: 8px;
    padding: 1px 1px 1px 1px;
    }

.del {
    vertical-align: bottom;
    
    margin-top: 65px;
}

.delete a{
    background-color: #FED0D0;
    
    color: #ff0000;
    border: none;
}

.complete {
    display: block;
    float: right;
    background-color: #1ABD00;
    color: #fff;
    border: none;
    margin-right: 12px;
    padding-inline-start: 3px 3px 3px 3px;
    width: 140px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
}
    .btn {
        background-color: #2A7FFF;
        border: none;
        color: #fff;
        padding: 3px;
        height: 35px;
        width: 130px;
        float: right;
        border-radius: 7px;
        font-size: 14px;
        cursor: pointer;
    } 

    .task-group{
        display:block;
        margin-top: 0px;
        margin-bottom: 35px;
        }
    
    .task-group h3{
        justify-content: space-between;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }


        .checkbtn {
            font-size: 30px;
            color: #fff;
            float: left;
            line-height: 45px;
            margin-left: 15px;
            cursor: pointer;
            display: none;
        
        }
        
        #check{
            display: none;
        }
        
        /* @media only screen and (max-width: 768px) {
            .sidenav {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                position: relative;
            }
        
            .highlight-box input[type="checkbox"] {
                position: absolute;
                top: 10px;
                left: 10px;
                display: none;
            }
        
            .highlight-box label {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 20px;
                cursor: pointer;
            }
        3333333333333333333333333333333333333333333333333333333333333333333333333
        }
         */
        
        
        @media only screen and (max-width: 952px) {
            h1.logo{
                font-size: 30px;
                padding-right: 50px;
            }
        
            .sidenav {
                font-size: 16px;
            }
        
        }
        
        @media only screen and (max-width: 1460px) {
            .checkbtn{
                display: block;
            }
        
            li.task-details{
                padding: 3px 3px 3px 3px;
            }
        
            .detail li{
                padding: 3px 7px 3px 7px;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                
            
            }
        
            /* ul{
                position: fixed;
                width: 100%;
                height: 100vh;
                background: white;
                top: 80px;
                left: 0;
                text-align: center;
            } */
        
            div ul li a{
                font-size: 20px;
            }
        
            .sidenav {
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 80px;
                left: -100%;
                margin: 0;
                text-align: center;
                background: #2c3e50;
                transition: all .5s;
            }
        
            div ul li {
                display: block;margin: 30px 0;
                line-height: 30px;
            }
            div ul li a{
                font-size: 20px;
            }
        
            /* ul li a:hover,a.active{
                background: none;
                color: pink;
            } */
            .mainnav{
                width:100%;
            }
            .sidenav a, li{
                padding: 18px;
            }
        
            .sidenav a:hover, .sidenav a:active{
                background: none;
                color: #2A7FFF;
            }
            
            .box-group {
                flex-direction: column;
                justify-content: center;
                display: flex;
                margin: 0 auto;
                align-items: center;
                width:100%;
            }
            /* .info-box {
                width: 100%;
                margin-bottom: 10px;
                justify-content: center;
                align-items: center;
            } */
        
        }
        
        @media only screen and (max-width: 360px){
            .task-group{
                display:block;
                margin-top: 40px;
                margin-bottom: 35px;
                }
            
            .task-group h3{
                justify-content: space-between;
                font-size: 16px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
        }
        
        
        @media only screen and (max-width: 1149px){
            .sidenav {
                width: 100%;
                height: 120vh;
                position: fixed;
                top: 70px;
                
            }
        }
        
        @media only screen and (max-width: 1000px) {
            .info-box {
                width:calc(33.33% - 20px);
            }
        } 

        @media only screen and (max-width: 875px) {
            .info-box {
                width:calc(50% - 20px);
            }
        } 

        @media only screen and (max-width: 530px) {
            .info-box {
                width:calc(100% - 20px);
            }
        } 
        