*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

nav{
    background: orange;
    height: 80px;
}

.flex-container{
    display: flex;
justify-content: space-around;
}

.lab{
font-size: 120%;
font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
line-height: 30px;
}
