<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlowPro Dashboard</title>
    <link rel="stylesheet" href="../static/css/active_tasks.css">
</head>

<body>
    <header class="highlight-box">
        <h1>TaskFlowPro</h1>
    </header>


<div class="wrapper">
    <div class="container">
    <div class="sidenav">
    <ul class="das">
        <li class="list"><a href="/" class="dash">Dashboard</a></li>
        <li class="list"><a href="" class="history">Active Task</a></li>
        <li class="list"><a href="" class="signout">Completed Task</a></li>
    </ul>

    <ul class="dasb">
        <li class="list"><a href="/logout" class="signout">Sign Out</a></li>
    </ul>

    </div>
<div class="mainnav">
    <div class="task-group">
        <h3>Active Tasks <span><a href="/create_task"><input type="button" value="Add New Task" class="btn"></a></span></h3>
    </div>

    <div class="box-group">
    <div class="info-box">
        <p class="comp">Task 1<span><a href=""><input type="button" value="Edit" class="edit"></a></span></span></p>
        <p class="num">Due 15/01/2024</p>
        <div class="del"><button class="delete"><a href="">Delete</a></button><span></span><a href=""><input type="button" value="Mark as Complete" class="complete"></a></div>
    </div>


    </div>

</div>
</div>
</div>
