<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard.com</title>
    <link rel="stylesheet" href="../static/css/dashboard1.css">
</head>

<body>
    <header class="highlight-box">
        <h1>TaskFlowPro</h1>
    </header>


<div class="wrapper">
    <div class="container">
    <div class="sidenav">
    <ul class="das">
        <li class="list"><a href="/" class="dash">Dashboard</a></li>
        <li class="list"><a href="" class="history">Active Task</a></li>
        <li class="list"><a href="" class="signout">Completed Task</a></li>
    </ul>

    <ul class="dasb">
        <li class="list"><a href="/logout" class="signout">Sign Out</a></li>
    </ul>

    </div>
<div class="mainnav">

    <di3v class="box-group">
    <div class="info-box">
        <p class="comp">All Task</p>
        <p class="num">30</p>
    </div>

    <div class="info-box">
        <p class="comp">Completed Task</p>
        <p class="num">30</p>
    </div>

    <div class="info-box">
        <p class="comp">Uncompleted Task</p>
        <p class="num">30</p>
    </div>
    </di3v>


    <div class="task-group">
        <h3>Upcoming Tasks <span><a href="/create_task"><input type="button" value="Create a new task" class="btn"></a></span></h3>
    </div>

    <div class="task-list">
        <div class="task">
            <ul class="detail">
                {% for task in user.tasks %}
                <li class="task-details"><span class="task-wrapper">{{ task.title}}<span class="date">To start: {{ task.start}}</span></span></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    
    

    </div>

    </div>
</div>
</body>
</html>





