<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlowPro Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard1.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez5A1ErOScN7BMbNB8p3zOMWSxhLQeOGWzJ0jDRg/qOHSxIPI8vE9pR4x1L2J2s5" crossorigin="anonymous">



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header class="highlight-box">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i> 
        </label>
        <h1 class="logo">TaskFlowPro</h1>
    </header>


<div class="wrapper">
    <div class="container">
    <div class="sidenav">
    <ul class="das">
        <li class="list"><a href="/" class="dash">Dashboard</a></li>
        <li class="list"><a href="/active_task" class="history">Active Task</a></li>
        <li class="list"><a href="/completed_task" class="signout">Completed Task</a></li>
    </ul>

    <ul class="dasb">
        <li class="list"><a href="/logout" class="signout">Sign Out</a></li>
    </ul>

    </div>
<div class="mainnav">

    <div class="box-group">
    <div class="info-box">
        <p class="comp">All Task</p>
        <p class="num">
            {% set all_tasks = [] %}

            {% for task in user.tasks %}
                {% set _ = all_tasks.append(task) %}
            {% endfor %}

            {{ all_tasks|length }}
        </p>
    </div>

    <div class="info-box">
        <p class="comp">Completed Task</p>
        <p class="num">
            {% set completed_tasks = [] %}

            {% for task in user.complete_tasks %}
                {% set _ = completed_tasks.append(task) %}
            {% endfor %}

            {{ completed_tasks|length }}
        </p>
    </div>

    <div class="info-box">
        <p class="comp">Uncompleted Task</p>
        <p class="num">
            {% set uncompleted_tasks = [] %}

            {% for task in user.tasks %}
                {% set _ = uncompleted_tasks.append(task) %}
            {% endfor %}

            {{ uncompleted_tasks|length }}
        </p>
    </div>
    </div>


    <div class="task-group">
        <h3>Upcoming Tasks <span><a href="/create_task"><input type="button" value="Create a new task" class="btn"></a></span></h3>
    </div>

    <div class="task-list">
        <div class="task">
            <ul class="detail">
                {% for task in user.tasks %}
                <li class="task-details"><span class="task-wrapper">{{ task.title}}<span class="date">To start: {{ task.start}}</span></span></li>
                {% endfor %}
            </ul>
        </div>
    </div>



    

    </div>

    </div>
</div>
<!-- <script src="../static/js/dashboard.js"></script> -->

<!-- <input type="checkbox" id="check">
<label for="check" class="checkbtn">
    <i class="fa fa-bars"></i> 
</label> -->

<script>
    const checkbox = document.getElementById('check');
    const sidenav = document.querySelector('.sidenav');

    checkbox.addEventListener('change', function() {
        if (this.checked) {
            sidenav.style.left = '0';
        } else {
            sidenav.style.left = '-100%';
        }
    });

</script>


</body>
</html>





