<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task form</title>
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/create_task.css') }}">
  </head>
  <body>
    <header class="highlight-box">
      <h1>TaskFlowPro</h1>
    </header>
    
    <div class="wrapper">
      
      <div class="welcoming">Edit a task</div>
      <form action="{{task_url}}", method="POST">

    <div class="row">
      <label for="title" class="above-input">Title</label>
      <input type="text" id="title" name="title" placeholder="Enter the title of your task" value="{{task.title}}" required>
    </div>
        
    <div class="row">
      <label for="date" class="above-input">Start date</label>
      <input type="datetime-local" id="startDate" name="startDate" placeholder="Enter the day you want to begin the task" value="{{task.start}}" required>
    </div>

    <div class="row">
      <label for="date" class="above-input">Due date</label>
      <input type="datetime-local" id="dueDate" name="dueDate" placeholder="Enter the due date for your task" value="{{task.end}}" required>
    </div>
  
    
      
    <div class="row">
      <input type="submit" value="Edit task">
    </div>

      </form>

    </div>

  </body>

</html>