<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard.com</title>
    <link rel="stylesheet" href="../static/css/Task-list page.css">
</head>

<body>
    <header class="highlight-box">
        <h1>TaskFlowPro</h1>
    </header>

  <div class="wrapper">
      <div class="container">
      <div class="sidenav">
      <ul>
          <li class="list"><a href="" class="dash">Dashboard</a></li>
          <li class="list"><a href="" class="history">Active Task</a></li>
          <li class="list"><a href="" class="signout">Completed Task</a></li>
          <li class="list"><a href="" class="signout">Sign Out</a></li>
      </ul>
  
      </div>
      
      <div class="task-group">
        <h3> Active Tasks <span><input type="button" value="view all" class="btn"></span></h3> 

    </div>

      </div>
  </div>



